.btn-primary {
    background-color: var(--cian-neon);
    color: var(--fondo-superficie);
    text-align: center;
    align-items: center;
    padding-left: 5vh;
    padding-right: 5vh;
    border: none;
    box-shadow: 3px 2px 50px var(--cian-neon);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 5px;
}
.btn-primary:active {
    transform: scale(0.95);
}

.btn-primary:hover{
    color: var(--cian-neon);
    background-color: var(--fondo-superficie);
}

.btn-submit {
    display: flex; 
    align-items: center; 
    width: min-content;
    background: transparent;
    border: 1px solid var(--primario-fijo-tenue);
    color: var(--primario-fijo-tenue);
    padding: 16px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
}

.btn-submit:hover {
    background: var(--primario-fijo-tenue);
    color: black;
}